/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
    background:#eee;
}

#left {
  background:#666;
}

#middle {
  background:#888;

}

#right {
  background:#666;
}

#full {
  background:#fff;
}

#division {
}

aside {
  background:#fff;
}

footer {
}
