/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
    background:#eee;
    padding: 20px;
  margin-bottom: 20px;
}

#left {
  background:#666;
  float:left;
  padding: 20px;
  margin-bottom: 20px;
  width:30%;
}

#middle {
  background:#888;
  float:left;
  padding: 20px;
  margin-bottom: 20px;
  width:30%;

}

#right {
  background:#666;
  float:left;
  padding: 20px;
  margin-bottom: 20px;
  width:30%;
}

#full {
  background:#fff;
  padding: 20px;
  margin-bottom: 20px;
}

#division {
  background:#6ea3da;
  padding: 20px;
  margin-bottom: 20px;
}

aside {
  background:#fff;
  padding: 20px;
  margin-bottom: 30px;
}

footer {
  background: #ccc;
  padding: 20px;
  margin-bottom: 20px;
}
