body{
    font-family: "Arial, Helvetica, sans-serif";
    background: #777;
    width: 960px;
    font-size: 18px;
}

header{
    background:#ebebeb;
}

nav{
    background:#ebebeb;

}

section{
    background: #ebebeb;
    width: 495px;

}
aside{
    background:#ebebeb;
}
footer{
    background:#ebebeb;
}