body{
    font-family: "Arial, Helvetica, sans-serif";
    background: #777;
    width: 960px;
    font-size: 18px;
    padding-left: 60px;
}

header{
    background:#ebebeb;
    position:center;
    height: 40px;
    margin-bottom:6px;
    margin-top:12px;
    text-align: center;
    padding-top: 20px;
}

nav{
    background:#ebebeb;
    width:full;
    position:center;
    height:40px;
    margin-top:6px;
    margin-bottom:6px;
    text-align: center;
    box-align: center;
    padding-top: 20px;
    
    

}

section{
    background: #ebebeb;
    width: 495px;
    height: 250px;
    margin-top:20px;
    margin-bottom:4px;
    box-align: left;
    text-align: center;
    margin-right:10px;
    padding-top:20px;
    
    
   
  
    
    


}
#article{
    background:#777;
    color:#ebebeb;
    text-align: center;
    position: relative;
    margin-left:12px;
    margin-top:12px;
    margin-right:12px;
    top:20px;
    
}
#h1h2h3{
    color:#777;
    background: #ebebeb;
    text-align: center;
    padding-bottom:15px;
    padding-top:15px;
    padding-left:15px;
    padding-right:15px;
    position: absolute;
    width: 430px;
    
    
}
#p{
    color:#777;
    background: #ebebeb;
    text-align: center;
    padding-bottom:15px;
    padding-top:15px;
    padding-left:15px;
    padding-right:15px;
    position: absolute;
    width: 430px;
    


    
}
aside{
    background:#ebebeb;
    margin-top:6px;
    margin-bottom:6px;
    width:450px;
    height: 250px;
    padding-top: 20px;
    text-align: center;
    float:right;
    padding-left:-10px;
    position: relative;
    bottom: 280px;
 
    
    
    
}
footer{

    background:#ebebeb;
    position:center;
    height: 40px;
    margin-bottom:6px;
    margin-top:12px;
    text-align: center;
    padding-top: 20px;
    padding-left: 450px;

    
}

